#works{
    min-height: calc(100vh-4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    /* padding: 0; */


}

.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;

}

.worksDesc{
    font-weight: 300;
    font-size: 1rem;
}
.worksjob{
    font-weight: 400;
    font-size: 1.5rem;
    color: orange;
}

.worksImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
   max-width: 65rem;
   background-color: grey;
   margin-top: 1rem;
   border-radius: 3rem;
}

.job{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem;
}
.worksImg{
    height: 10rem;
    margin: 1rem 0.5rem;

}

.worksDesc2{
    margin-left: 5rem;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
    
    
}
.workBtn{
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;

}
@media screen and (max-width:671px){
    .worksImg{
        height: 38vw;
    }
    
}